*~
.gradle
/build
/out
/intTestHomeDir
/subprojects/*/out
/intellij
/buildSrc/lib
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/*.iml
*.iml
/*.ipr
/*.iws
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/*.iml
/buildSrc/out
*.classpath
*.project
*.settings
/bin
.DS_Store
.textmate
.idea
*.sublime-*
.nb-gradle
.java-version
local.properties
